@keyframes fadeUpEffect {
    0% {
        opacity: 0%;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

body{
    animation: fadeUpEffect 1.5s ease forwards;
}